:root {
    --bs-body-bg: #FDFDFD;

    /* new primary color */
    --bs-primary: #6610f2;
    --bs-primary-rgb: 102, 16, 242;
    --bs-primary-text-emphasis: #290661;
    --bs-primary-bg-subtle: #e0cffc;
    --bs-primary-border-subtle: #c29ffa;
      --bs-link-color: #6610f2;
  --bs-link-color-rgb: 102, 16, 242;
    --bs-link-hover-color: #520dc2;
  --bs-link-hover-color-rgb: 82, 13, 194;
  --bs-focus-ring-color: rgba(102, 16, 242, 0.25);
  --bs-btn-color: #fff;
--bs-btn-bg: #6610f2;
--bs-btn-border-color: #6610f2;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #570ece;
--bs-btn-hover-border-color: #520dc2;
--bs-btn-focus-shadow-rgb: 125, 52, 244;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #520dc2;
--bs-btn-active-border-color: #4d0cb6;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #fff;
--bs-btn-disabled-bg: #6610f2;
--bs-btn-disabled-border-color: #6610f2;
}

#auralayer-placeholder {
    height: 200px;
    background-color: gray;
}

.form-label {
    display: block;
    text-align: center;
    margin-bottom: 0;
    font-size: x-small;
    color: var(--bs-primary);
    font-weight: bold;
}

.link-presence {
    display: inline-block;
    margin-left: -1em;
    color: var(--bs-secondary);
}


#auralayer-window {
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
padding: 1em;
}