/* Import Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=block");

.grecaptcha-badge { 
visibility: hidden; 
}

/* Variables */
:root {
	/* Font Family */
	--font-base: "Gentium Book Basic", serif;
	--font-headings: "Open Sans", sans-serif;

	/* Font Size */
	--global--font-size-page-title: var(--global--font-size-xl); /* was xxl */

	/* Headings */ /* took all down one notch */
	--heading--font-size-h4: var(--global--font-size-md); /* used to be lg */
	--heading--font-size-h3: var(
		--global--font-size-lg
	); /* used to be 1.25*lg */
	--heading--font-size-h2: calc(
		1.25 * var(--global--font-size-lg)
	); /* used to be xl */
	--heading--font-weight: bolder;
	--heading--font-weight-page-title: bolder;
	--heading--font-weight-strong: bolder;

	/* Colors */
	--goldenrod: #e0aa38ff;
	--floral-white: #fffaefff;
	--dark-brown: #553819ff;
	--patriarch: #730071ff;
	--steel-pink: #e000ddff;
	--global--color-black: var(--dark-brown);
	--global--color-dark-gray: #28303d;
	--global--color-gray: #848586;
	--global--color-light-gray: #eaead8;
	--global--color-green: #4a7c59;
	--global--color-blue: #016fb9;
	--global--color-purple: var(--patriarch);
	--global--color-red: var(--steel-pink);
	--global--color-orange: #b97375;
	--global--color-yellow: var(--goldenrod);
	--global--color-white: var(--floral-white);
	--global--color-white-50: rgba(255, 250, 239, 0.5);
	--global--color-white-90: rgba(255, 250, 239, 0.9);
	--global--color-primary: var(--goldenrod);
	--wp--style--color--link: var(--global--color-purple);

	/* Body text color, site title, footer text color. */
	--global--color-secondary: var(--global--color-black);

	/* Headings */
	--global--color-primary-hover: var(--global--color-primary);
	--global--color-background: var(--global--color-white);

	/* Mint, default body background */
	--global--color-border: var(--global--color-light-gray);

	/* Buttons */
	--button--color-text-hover: var(--global--color-primary);
	--button--color-text-active: var(--global--color-primary);
	--button--color-background: var(--global--color-primary);
	--button--font-weight: 700;

	/* entry */
	--entry-header--color: var(--global--color-secondary);
	--entry-header--color-focus: var(--global--color-purple);

	/* Header */
	--branding--color-link-hover: var(--global--color-purple);
	--branding--title--font-weight: 800;

	/* Main navigation */
	--primary-nav--font-family: var(--global--font-primary);
	--primary-nav--font-weight: bolder;
	--primary-nav--color-link: var(--global--color-secondary);
	--primary-nav--color-link-hover: var(--global--color-secondary);
	--primary-nav--color-text: var(--global--color-secondary);

	/* Pagination */
	--pagination--color-text: var(--global--color-secondary);
	--pagination--color-link-hover: var(--global--color-secondary);

	/* Footer */
	--footer--color-text: var(--global--color-secondary);
	--footer--color-link: var(--global--color-secondary);
	--footer--color-link-hover: var(--global--color-secondary);
	--footer--font-family: var(--global--font-secondary);

	/* Block: Pull quote */
	--pullquote--color-foreground: var(--global--color-secondary);
	

	/* forms */
	--form--border-color: var(--global--color-light-gray);
	
	/* make wide content width a bit narrower */
	
/*     --responsive--alignwide-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), 1080px); */
}

/* Variables for dark theme */
@media only screen {
	.is-dark-theme.is-dark-theme {
		--branding--color-link: var(--goldenrod);
		/* --footer--color-link: var(--goldenrod); */
		--global--color-secondary: var(--global--color-light-gray);
		--wp--style--color--link: var(--global--color-white);
	}
}


/* begin main css */

/* Layout */

.no-widgets .site-footer {
	margin-top: 0;
}

@media only screen and (min-width: 482px) {
	.wp-block-columns.alignwide {
		max-width: 900px;
	}
}

/* images */

/* sepia on all page images (not posts), and create not-sepia and sepia classes to apply to image div containers */
.page img:not(div.not-sepia img), div.sepia img {
	filter: sepia(1);
}

.not-sepia img {
	filter: sepia(0) !important;
}

/* Text */

body {
	color: var(--global--color-secondary);
}

blockquote .wp-block-quote__citation,
blockquote cite,
blockquote footer {
	color: var(--global--color-secondary);
}

.has-drop-cap:not(:focus)::first-letter {
		font-size: 5rem;
	}

/* Links */

a {
	color: var(--wp--style--color--link, var(--global--color-purple));
	text-decoration-style: dotted;
	-webkit-text-decoration-style: dotted;
}

a:hover {
	color: var(--global--color-red);
}

@media only screen {
	.is-dark-theme.is-dark-theme p:not(.site-title) a {
		text-decoration: var(--global--color-red) underline dotted;
		-webkit-text-decoration: var(--global--color-red) underline dotted;
	}
}

.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
	background-color: transparent;
}

wp-block-code code {
	color: var(--global--color-secondary);
}

.wp-block-cover .wp-block-cover__inner-container .has-link-color a,
.wp-block-cover .wp-block-cover-image-text .has-link-color a,
.wp-block-cover .wp-block-cover-text .has-link-color a,
.wp-block-cover-image .wp-block-cover__inner-container .has-link-color a,
.wp-block-cover-image .wp-block-cover-image-text .has-link-color a,
.wp-block-cover-image .wp-block-cover-text .has-link-color a {
	color: var(--wp--style--color--link, var(--global--color-purple));
}

.wp-block-gallery .blocks-gallery-image figcaption a:focus,
.wp-block-gallery .blocks-gallery-item figcaption a:focus {
	outline: 2px solid
		var(--wp--style--color--link, var(--global--color-purple));
}

.wp-block-social-link:not(.is-style-logos-only) {
	color: var(--global--color--secondary) !important;
}

/* Headings */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: var(--global--color-primary);
}

h1,
.h1 {
	text-transform: uppercase;
}

/* Block text */

.wp-block-image figcaption {
	color: var(--global--color-secondary);
}

.wp-block-latest-comments .wp-block-latest-comments__comment-date {
	color: var(--global--color-secondary);
}

.wp-block-latest-posts .wp-block-latest-posts__post-author {
	color: var(--global--color-secondary);
}

.wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: var(--global--color-secondary);
}

p.has-text-color a {
	color: var(--wp--style--color--link, var(--global--color-purple));
}

.wp-block-quote.is-style-large footer {
	color: var(--global--color-secondary);
}

.wp-block-rss .wp-block-rss__item-author {
	color: var(--global--color-secondary);
}

.wp-block-rss .wp-block-rss__item-publish-date {
	color: var(--global--color-secondary);
}

.wp-block-table figcaption {
	color: var(--global--color-secondary);
}

.wp-block-video figcaption {
	color: var(--global--color-secondary);
}

.site-title {
	background-color: var(--branding--color-link);
	color: var(--global--color-background);
	padding: 1rem;
	font-weight: var(--branding--title--font-weight);
}

.site-title > a {
	text-decoration: none;
}

.site-title > a:hover {
	text-decoration: var(--global--color-red) underline dotted;
	-webkit-text-decoration: var(--global--color-red) underline dotted;
	text-decoration-thickness: 2px;
	color: var(--global--color-background);
}

.site-footer > .site-info .site-name {
	font-weight: var(--branding--title--font-weight);
	font-family: var(--heading--font-family);
	color: var(--branding--color-text);
}

.entry-footer {
	color: var(--global--color-secondary);
}

.page-title {
	color: var(--entry-header--color);
}

.comment-meta .comment-metadata {
	color: var(--global--color-secondary);
}

.primary-navigation > div > .menu-wrapper .sub-menu-toggle:focus {
	outline: 2px solid
		var(--wp--style--color--link, var(--global--color-purple));
}

.primary-navigation .current-menu-item > a:first-child,
.primary-navigation .current_page_item > a:first-child {
	text-decoration: var(--global--color-primary) underline;
	-webkit-text-decoration: var(--global--color-primary) underline;
	text-decoration-thickness: 2px;
}

.primary-navigation .current-menu-item > a:first-child:hover,
.primary-navigation .current_page_item > a:first-child:hover,
.primary-navigation a:hover {
	text-decoration: var(--global--color-primary) underline dotted;
	-webkit-text-decoration: var(--global--color-primary) underline dotted;
	text-decoration-thickness: 2px;
}

/* no right-align for small screens */

@media only screen and (max-width: 482px) {
	.has-text-align-right {
		text-align: unset;
	}
}

/* Next/Previous navigation */
.navigation {
	color: var(--global--color-secondary);
}

.navigation a {
	color: var(--global--color-secondary);
}

.navigation a:focus {
	color: var(--global--color-purple);
}

.navigation a:active {
	color: var(--global--color-secondary);
}

.post-navigation .meta-nav {
	color: var(--global--color-secondary);
}

.widget a {
	text-decoration-style: dotted;
	-webkit-text-decoration-style: dotted;
}

/* Details and Summary */

summary::marker,
summary::-webkit-details-marker {
	color: var(--wp--style--color--link);
}

details > summary {
	font-weight: bold;
	font-size: var(--global--font-size-md);
	line-height: 1.38;
	padding: 0;
	text-rendering: optimizeLegibility;
}

details {
	font-size: var(--global--font-size-xs);
}

details p {
	margin-bottom: 1em;
}




/* Blog styling */

.wp-block-latest-posts > li > a,
.wp-block-post-title a {
	color: var(--global--color-secondary);
	text-decoration: none;
}

.wp-block-post-title a {
	font-family: var(--global--font-secondary);
	letter-spacing: var(--global--letter-spacing);
	padding: 0;
	margin-bottom: 0.5em;
	text-indent: -2em;
	padding-left: 2em;
}

/* Comments */

.comment-body > *,
.comment-meta {
	margin: 0;
}

.comment-meta .comment-author .fn,
.pingback {
	font-size: var(--global--font-size-md);
	font-weight: bold;
	margin: 0 1em 0 0;
}

.pingback .url,
.trackback .url {
	font-family: var(--global--font-secondary);
}

.pingback .comment-edit-link {
	font-size: var(--global--font-size-xs);
	font-weight: normal;
}

@media screen and (min-width: 600px) {
	.comment-meta {
		display: flex;
		clear: both;
	}
}

.comment-metadata {
	line-height: 1;
}

.comment-metadata a,
.reply a,
.pingback a {
	color: var(--global--color-secondary);
}

.comment-content {
	font-size: var(--global--font-size-sm);
	padding-left: 1em;
	border-left: 2px solid var(--global--color-light-gray);
	margin-bottom: 1em;
}

.reply a {
	margin-left: 1em;
	padding: 2px 7px;
}

/* Block quote */

.wp-block-quote:before {
	content: "“";
	color: var(--global--color-secondary);
	background-color: var(--global--color-background);
	font-size: var(--global--font-size-xxl);
	position: absolute;
	left: calc(-0.5 * var(--global--spacing-horizontal));
}

.wp-block-quote {
	padding-left: 2.5em;
	font-weight: var(--quote--font-weight);
}

/* gallery caption to match other image captions */

.blocks-gallery-caption {
	color: inherit;
	font-size: var(--global--font-size-xs);
}

/* increased legibility on caption overlays */
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
	font-family: var(--global--font-primary);
	text-shadow: 1px 1px black;
	font-weight: bolder;
	padding: 4px;
	background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 80%,transparent);
}


/* Buttons */

.site .button:hover,
.site .button:active,
button:hover,
button:active,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:active,
.wp-block-search .wp-block-search__button:hover,
.wp-block-search .wp-block-search__button:active,
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:active,
.wp-block-file a.wp-block-file__button:hover,
.wp-block-file a.wp-block-file__button:activex {
	border-color: var(--global--color-primary);
	color: var(--global--color-primary);
}

/* SU Tabs */

.su-tabs-pane p {
	margin-bottom: 1em;
}


/*  smooth scrolling for anchor links (but not if users have reduced motion on)  */

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

html {
	scroll-behavior: smooth;
}

/* auralayer mockup */

.page-id-4820 {
	background-color: white;
}

.timepoints, .layers {
	font-family: sans-serif !important;
		margin-top: .5em !important;
}

.page-id-4820 .wp-block-columns {
	max-width: 100vw;
	padding: 0 3em !important;
}

.page-id-4820 h2 {
	margin-bottom: 0 !important;
}

.timepoints th, .layers th {
	white-space: nowrap;
}

.timepoints input, .layers input, .timepoints select {
	padding: 3px;
}

.timepoints input[type=number] {
	width: 5rem;
}

.timepoints select {
 width: 8rem;
	padding-right: 1.5rem;
	background: var(--global--color-light-gray);
	border: 1px solid var(--global--color-gray);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
}

.timepoints td:not(:first-child) {
	padding: .25rem;
}

.timepoints td:nth-child(2) {
	text-align: center;
}

.layers td:nth-child(1), .layers th:nth-child(1) {
	border-right: 1px solid transparent;
}